---
---

@import "{{ site.theme }}";


.page-header {
	@include large {
		padding: 3rem 6rem;
	}

	@include medium {
		padding: 2rem 4rem;
	}

	@include small {
		padding: 2rem 1rem;
	}
}

.project-tagline {
	margin-bottom: 0rem;
}

.paper-title {
	display: block;
	margin-bottom: 0.35rem;
	color: #27262b;
}

ul li:not(:first-of-type) .paper-title {
	padding-top: 1rem;
}

.paper-toggle {
	margin-left: -1rem;
	margin-bottom: 1rem;
	word-break: normal;
	padding: 0.8rem;
	font-size: 0.98rem;
	line-height: 1.45;
	border-radius: 0.3rem;
    color: $code-text-color;
    word-wrap: normal;
    background-color: $code-bg-color;
    border: solid 1px $border-color;
    border-radius: 0.3rem;
	display: none;
}

.paper-toggle.is-visible {
	display: block;
}
